 #introduction to python

In [ ]:
print("Welcome to ExcelR!")

Welcome to ExcelR!

In [ ]:
"hello"

'hello'

In [ ]:
120/12*2-4

16.0

In [ ]:
(5-2)*10

30

In [ ]:
marks=80
marks

80

In [ ]:
type(marks)

int

In [ ]:
5**4

625

In [ ]:
price=50.5
price #only shows output of last line
type(price)

float

In [ ]:
price=50.5
print(price) #to see intermediate lines output use print() function
type(price)

50.5

float

In [ ]:
name="Snehal"
type(name)

str

In [ ]:
dir(str) #all methods that can be applied on strings
#__ dunder/magic (double underscore methods which python uses internally)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
str1="welcome to Data Science."
str1.capitalize()

'Welcome to data science.'

In [ ]:
str1.upper()

'WELCOME TO DATA SCIENCE.'

In [ ]:
str1.lower()

'welcome to data science.'

In [ ]:
str1.title()

'Welcome To Data Science.'

In [ ]:
food="bIryAnI"
name="sneHAl"
print(food.swapcase())
name.swapcase()

BiRYaNi

'SNEhaL'

In [ ]:
s1="My name is Snehal"
print(s1.split()) #list of strings is created
s2="Mumbai-Pune-Mumbai"
s2.split("-")

['My', 'name', 'is', 'Snehal']

['Mumbai', 'Pune', 'Mumbai']

In [ ]:
mail="shrutipanaskar06@gmail.com"
mail.split("@")

['shrutipanaskar06', 'gmail.com']

In [ ]:
s1.replace("Snehal","Jyoti")

'My name is Jyoti'

In [ ]:
# single line comment
'''
multiline comment
'''

'\nmultiline comment\n'

In [ ]:
city="Satara"
city.count("a")

3

In [ ]:
"Satara".count("a")

3

In [ ]:
name="Raj"
name*4

'RajRajRajRaj'

In [ ]:
n1=5
n1*5

25

In [ ]:
name="Rajesh"
surname="Kulkarni"
name + surname #concatenates without space

'RajeshKulkarni'

In [ ]:
name + " " +surname

'Rajesh Kulkarni'

In [ ]:
#conditional statement
a=30
b=20
if(a>b):
  print("a is greater")
else:
  print("b is greater")

a is greater

In [ ]:
a=20
b=30
if(a>b):
  print(a,"is greater")
else:
  print("greatest number is:",b)

greatest number is: 30

In [ ]:
salary = 35000
if(salary>20000):
  tax=0.25
  print("Hello from true if")
else:
  tax=0.20
  print("Hello from false if/else")
print("Bye....outside of if block")
net_sal=salary-tax*salary
print(net_sal)
#change value of salary as 15000 and execute again

Hello from true if
Bye....outside of if block
26250.0

In [ ]:
#For loop
for number in range(5,10): #Print numbers from 5 to 9. Default increment is 1,
 print(number)

5
6
7
8
9

In [ ]:
#print numbers 1 to 10

for i in range(1,11,1):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#Q1. print all even numbers from 1 to 20
for i in range(2,21,2):
 print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
#Q2. print all odd numbers from 1 to 20
for i in range(1,20,2):
  print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
#'break' statement terminates the loop when condition is satisfied
for i in range(1,11):
  if(i==5):
     print("same")
     break
  else:
       print(i)

1
2
3
4
same

In [ ]:
for num in range(11): #0 to 9
  print(num, num*num) #num and its square

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100

In [ ]:
#range(start,stop,step)
for i in range(1,30,5):
  #print(i)
  print(i,"@")

1 @
6 @
11 @
16 @
21 @
26 @

In [ ]:
subject="Science"
for letter in subject:
  print(letter)

S
c
i
e
n
c
e

In [ ]:
#print name 3 times on first line, 4 times on 2nd, 5-3rd, 6-4th, range(3,7)
name="shruti"
for value in range(3,7):
  print(name*value)

shrutishrutishruti
shrutishrutishrutishruti
shrutishrutishrutishrutishruti
shrutishrutishrutishrutishrutishruti

In [ ]:
#print each letter of movie on separate line
movie="Avatar"
for letter in movie:
    print(letter)

A
v
a
t
a
r

In [ ]:
#change case of each letter (upper to small small to upper) of movie on single line with separate
movie="Avatar"
for letter in movie:
   #print(letter)
   #print(letter.swapcase())
   print(letter.swapcase(),end=" ") #try upper(), lower(), "-" etc. Default end parameter is

a V A T A R

In [ ]:
#print all even and odd numbers between given range using for loop
for i in range(1,11):
  if i % 2 == 0:
    print('even number', i)
  else:
    print('odd number', i)

odd number 1
even number 2
odd number 3
even number 4
odd number 5
even number 6
odd number 7
even number 8
odd number 9
even number 10

In [ ]:
print("even numbers:")
for i in range(1,11):
   if i % 2 == 0:
    print(i)

print("odd numbers:")
for i in range(1,11):
    if i % 2 != 0:
      print(i)

even numbers:
2
4
6
8
10
odd numbers:
1
3
5
7
9

In [ ]:
status1=True
type(status1)
status2=False
type(status2)

bool

In [ ]:
#print each letter 4 times with separater as space
for letter in "Data Science":
  print(letter*4,end=" ")

DDDD aaaa tttt aaaa      SSSS cccc iiii eeee nnnn cccc eeee

In [ ]:
#Data Structures: 1.List
#Lists are mutable
#created using square brackets
marks=[40,55,60,45,92,80,85]
marks

[40, 55, 60, 45, 92, 80, 85]

In [ ]:
type(marks)

list

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
len(marks)

7

In [ ]:
new_marks=sorted(marks) #crates new sorted list. Original marks list remains unchanged
new_marks

[40, 45, 55, 60, 80, 85, 92]

In [ ]:
marks

[40, 55, 60, 45, 92, 80, 85]

In [ ]:
marks.sort() #Original list is sorted in ascending order by default
marks

[40, 45, 55, 60, 80, 85, 92]

In [ ]:
marks.append(35)
marks

[40, 45, 55, 60, 80, 85, 92, 35, 35]

In [ ]:
marks.reverse()
marks

[35, 35, 92, 85, 80, 60, 55, 45, 40]

In [ ]:
marks2=[42,64,50,78,87,80]

In [ ]:
marks2.sort(reverse=True) #sorts in descending order when reverse=True
marks2

[87, 80, 78, 64, 50, 42]

In [ ]:
marks3=[40,60,50,70,80,85]
marks3.sort(reverse=False)
marks

[35, 35, 92, 85, 80, 60, 55, 45, 40]

In [ ]:
90 in marks #checks whether 90 is present in list or not. If yes returns true, else false

False

In [ ]:
60 in marks

True

In [ ]:
list1=[10,20,30]
list2=[40,50,60]
list1 + list2 #concatenation of two lists

[10, 20, 30, 40, 50, 60]

In [ ]:
(list1+list2)*3 #repeats 3 times

[10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60]

In [ ]:
#List of strings
list3=["Mango","Orange","Apple","Banana","Pineapple","Strawberry"]
list3

['Mango', 'Orange', 'Apple', 'Banana', 'Pineapple', 'Strawberry']

In [ ]:
#display fruits by changing case of all fruits to uppercase
for fruit in list3:
   print(fruit.upper()) #in single line: print(fruit.upper(),end=" ")
   #print(fruit.upper(),end=" ")
   #print(fruit.replace("a","u"), end=" ")

MANGO
ORANGE
APPLE
BANANA
PINEAPPLE
STRAWBERRY

In [ ]:
#in python indexing starts with 0
list3

['Mango', 'Orange', 'Apple', 'Banana', 'Pineapple', 'Strawberry']

In [ ]:
list3[0]

'Mango'

In [ ]:
list3[4]

'Pineapple'

In [ ]:
list3[5]

'Strawberry'

In [ ]:
list3.count("Banana")

1

In [ ]:
#slicing
list3[0:4] #0,1,2,3

['Mango', 'Orange', 'Apple', 'Banana']

In [ ]:
#from Apple to Strawberry i.e till end
list3[1:]

['Orange', 'Apple', 'Banana', 'Pineapple', 'Strawberry']

In [ ]:
#from beginning to pineapple
list3[:4]

['Mango', 'Orange', 'Apple', 'Banana']

In [ ]:
#negative indexing: -1 refers to last element
list3[-1]

'Strawberry'

In [ ]:
list3[-3]

'Banana'

In [ ]:
list3[-6]

'Mango'

In [ ]:
#start stop step in slicing
print(list3)
list3[::2] #0,2,4,6

['Mango', 'Orange', 'Apple', 'Banana', 'Pineapple', 'Strawberry']

['Mango', 'Apple', 'Pineapple']

In [ ]:
n1=[1:31] #to create list of 1 to 30 - will raise error

SyntaxError: ignored

In [ ]:
n1=list(range(1,31))
print(n1,end=" ")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [ ]:
n1[::4]

[1, 5, 9, 13, 17, 21, 25, 29]

In [ ]:
#print nos from index 2 to 26 with step value of 5
n1[2:26:5]

[3, 8, 13, 18, 23]

In [ ]:
print(list3,end=" ")

['Mango', 'Orange', 'Apple', 'Banana', 'Pineapple', 'Strawberry']

In [ ]:
list3[::-1]

['Strawberry', 'Pineapple', 'Banana', 'Apple', 'Orange', 'Mango']

In [ ]:
list3[::-2]#step value is -2

['Strawberry', 'Banana', 'Orange']

In [ ]:
#use of 'in' keyword: search subtracting in given word
'the' in 'Netherland'

True

In [ ]:
'The' in 'Netherland'

False

In [ ]:
'therer' in 'Netherland'

False

In [ ]:
list3

['Mango', 'Orange', 'Apple', 'Banana', 'Pineapple', 'Strawberry']

In [ ]:
list3.append("Mulberry")

In [ ]:
list3

['Mango', 'Orange', 'Apple', 'Banana', 'Pineapple', 'Strawberry', 'Mulberry']

In [ ]:
#display the fruits which contain substring as 'berry' using for loop
for fruit in list3:
  if 'berry' in fruit:
    print(fruit)

Strawberry
Mulberry

In [ ]:
list3.append("Custardapple")

In [ ]:
list3

['Mango',
 'Orange',
 'Apple',
 'Banana',
 'Pineapple',
 'Strawberry',
 'Mulberry',
 'Custardapple']

In [ ]:
for friut in list3:
  if 'apple' in fruit:
    print(fruit)

Custardapple
Custardapple
Custardapple
Custardapple
Custardapple
Custardapple
Custardapple
Custardapple

In [ ]:
for fruit in list3:
  if 'pple' in fruit:
    print(fruit)

Apple
Pineapple
Custardapple

In [ ]:
list3.append("Black berry")

In [ ]:
list3

['Mango', 'Orange', 'Apple', 'Banana', 'Pineapple', 'Strawberry']

In [ ]:
list4=[]
list5=[]
for fruit in list3:
  if 'berry' in fruit:
    list4.append(fruit)
  else:
    list5.append(fruit)
print(list4,end=" ")
print(list5,end=" ")

['Strawberry', 'Mulberry', 'Black berry'] ['Mango', 'Orange', 'Apple', 'Banana', 'Pineapple', 'Custardapple']

In [ ]:
#print squares of all numbers of list1 to list2
l1=[2,3,4,5,6]
l2=[]
for i in l1:
  l2.append(i**2)
print(l1,end=" ")
print(l2,end=" ")

[2, 3, 4, 5, 6] [4, 9, 16, 25, 36]

In [ ]:
#list comprehension - makes your code compact
l1=[2,3,4,5,6]
l2=[i**2 for i in l1]
print(l1,end=" ")
print(l2,end=" ")

[2, 3, 4, 5, 6] [4, 9, 16, 25, 36]

In [ ]:
list3

['Mango', 'Orange', 'Apple', 'Banana', 'Pineapple', 'Strawberry']

In [ ]:
newlist1=[fruit for fruit in list3 if 'berry' in fruit]

In [ ]:
newlist1

['Strawberry']

In [ ]:
list3

['Mango', 'Orange', 'Apple', 'Banana', 'Pineapple', 'Strawberry']

In [ ]:
list3.index('Mango')

0

In [ ]:
list3.index('Apple')

2

In [ ]:
list3.index('grapes') #will raise error as item is not present in list

ValueError: ignored

In [ ]:
#index 2 item was banana which is replaced by orange
#lists are mutable - you can replace items of the list
list3[2]="Custardapple"
list3

['Mango', 'Orange', 'Custardapple', 'Banana', 'Pineapple', 'Strawberry']

In [ ]:
#Data structure: 2.TUPLE
#Tuples are not mutable i.e. immutable
#created using round brackets
t1=(1,2,3,4,5)
t1

(1, 2, 3, 4, 5)

In [ ]:
type(t1)

tuple

In [ ]:
t1[0]

1

In [ ]:
t1[0]=7

TypeError: ignored

In [ ]:
dir(t1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
t1.count(1)

1

In [ ]:
t1.index(5)

4

In [ ]:
t2=(1,1,1,2,2,6,6,6,6,6)

In [ ]:
t2.count(6)

5

In [ ]:
#indexing and slicing with tuple is same as list
#extracting element of tuple
t1[2]

3

In [ ]:
t1

(1, 2, 3, 4, 5)

In [ ]:
t1[1:5]

(2, 3, 4, 5)

In [ ]:
#Data Structures: 3.Dictionary
#Dictionary are used to store data values in key:value pairs.
#A Dictionary is a collection which is ordered, changeable and do not allow duplicates.
#Dictionaries are written with curly brackets, and have keys and values.
#Here, keys are unique identifiers that are associated with each value.
capital_dict={"Nepal":"Kathmandu", "Italy":"Rome", "England":"London"}
print(capital_dict)

{'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London'}

In [ ]:
type(capital_dict)

dict

In [ ]:
dir(capital_dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
#access element of dictionary
capital_dict["England"]

'London'

In [ ]:
#keys() method extracts the keys of the dictionary and returns the list of keys as a view object.
keys=capital_dict.keys()
keys

dict_keys(['Nepal', 'Italy', 'England'])

In [ ]:
capital_dict.keys()

dict_keys(['Nepal', 'Italy', 'England'])

In [ ]:
#The values() method returns a view object that displays a list of dictionaries (key,value) tuple pairs.
values=capital_dict.items()
values

dict_items([('Nepal', 'Kathmandu'), ('Italy', 'Rome'), ('England', 'London')])

In [ ]:
#The items() method returns a view

In [ ]:
#The update() method updates the dictionary with the elements from another dictionary object or from an iterable of
add_capital={"India":"New Delhi","abc":"xyz"}
capital_dict.update(add_capital)

In [ ]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'xyz'}

In [ ]:
capital_dict.update({"Australia":"Sydney"}) #capital of Austrelia is Canberra
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'xyz',
 'Australia': 'Sydney'}

In [ ]:
#The pop() mathod removes and returns an element from a dictioanary having the given key.
capital_dict.pop("Australia")

'Sydney'

In [ ]:
capital_dict['abc']=("Mumbai")

In [ ]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'Mumbai'}

In [ ]:
#keys can be of different data type
mylist=["Mango","orange","strawberry","Banana","Mulberry","Black berry"]

In [ ]:
mytuple=(20,53,45,78,89,65,97)

In [ ]:
mydict={"A":mylist,
        "B":mytuple,
        "C":capital_dict}
mydict

{'A': ['Mango', 'orange', 'strawberry', 'Banana', 'Mulberry', 'Black berry'],
 'B': (20, 53, 45, 78, 89, 65, 97),
 'C': {'Nepal': 'Kathmandu',
  'Italy': 'Rome',
  'England': 'London',
  'India': 'New Delhi',
  'abc': 'Mumbai'}}

In [ ]:
mydict['A']

['Mango', 'orange', 'strawberry', 'Banana', 'Mulberry', 'Black berry']

In [ ]:
mydict['C']

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'Mumbai'}

In [ ]:
mydict['A'][3] #indes 0 1 2 3, 3rd element = Banana

'Banana'

In [ ]:
mydict['C']['India']

'New Delhi'

In [ ]:
#Math functions: can import specific functions or all using *
sqrt(25) #raise error as you have not imported

NameError: ignored

In [ ]:
from math import sqrt
sqrt(25)

5.0

In [ ]:
from math import factorial
factorial(5)

120

In [ ]:
from math import *

In [ ]:
#OR you can say 'import math'
#But while calling any function you have to use math.Function_Name()
#The math.prod() method returns the product of the elements from the given iterable.
import math #or 'import math as mt',mt.sqrt(64)
sequence = (2,2,5,6) #iterable where elements are given
print(math.prod(sequence))